<nav class="navbar navbar-expand-lg bg-dark ">
    <div class="container-fluid">
      <a class="navbar-brand text-light" href="{% url 'home'%}">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="  d-flex" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link text-danger" href="{% url 'userlogout'%}">Logout</a>
          </li>
          {% else %}
          <li class="nav-item d-flex">
            <a class="nav-link text-info" href="{% url 'usersignup'%}">Signup</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-success" href="{% url 'userlogin'%}">Login</a>
          </li>
          {% endif %}

          
          {% comment %} <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
           <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li>  {% endcomment %}
        </ul>
        {% comment %} <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> {% endcomment %}
      </div>
    </div>
  </nav>